body {
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #777;
  }